@import 'tailwindcss';

@theme {
  --color-primary-dark: #005f73;
  --color-primary-light: #94d2bd;

  --text-primary-heading: 2.19rem;
  --text-secondary-heading: 1.9rem;
  --text-body: 1.13rem;

  --color-text-color-subheading: #1b1b1b;
  --color-text-color-body: #4b5563;

  --font-family-body: 'Inter', sans-serif;
  --font-family-heading: 'Poppins', sans-serif;

  --color-light-background: #fdfcdc;
  --color-table-border: #d9d9d9;

  --color-text-alerts: #9ca3af;
  --color-text-error: #d62828;

  --text-minor: 0.9rem;
}
